@import "../../theme/theme";

:host {
  @include align-items(center);
	.checkbox-container {
		position: relative;
		padding-left: 20px;
    @include typology('p-small');
    margin: $spacing;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&[data-disabled] {
			opacity: 0.26;
		}
		input {
			height: 0;
			width: 0;
			opacity: 0;
			&:checked ~ .checkmark {
				&[data-color="primary"] {
					@include background-color('primary');
          border: 1px solid;
          @include border-color('primary')
				}
				&[data-color="secondary"] {
					@include background-color('secondary');
          border: 1px solid;
          @include border-color('primary')
				}
				&:after {
					display: block;
				}
			}
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 12px;
			width: 12px;
			background-color: $se-white;
			border: 1px solid $se-light-grey;
			&:after {
				content: "";
				position: absolute;
				display: none;
				bottom: 3px;
				left: 4px;
				width: 3px;
				height: 7px;
				border: solid $se-white;
				border-width: 0 1px 1px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
}
