@import "../../theme/theme";

:host {
  button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: 0;
  }
  button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 0;
  }
  &.disabled {
    opacity: 0.26;
    button {
      cursor: default;
    }
  }
}
:host(.header){
  button {
    height: 16px;
  }
}
:host(.standard) {
  @include background-color("standard");
  @include color("standard-contrast");
}
:host(.standard.active.selected) {
  color: $se-white;
  background-color: $se-life-green;
}
:host(.alternative) {
  @include background-color("alternative");
  @include color("alternative-contrast");
}
:host(.alternative.active.selected) {
  color: $se-white;
  background-color: $se-red;
}

button {
  padding: 4px 16px;
  border: none;
  outline: none;
  margin: $spacing;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  cursor: pointer;
}
