@import "../../theme/theme";

$max-width-input: 320px;


:host {
	.se-form-field {
    @include display-flex();
    padding: $spacing;

		&[data-disabled] {
			opacity: 0.26;
    }
    @include align-items(center);
  }
}
::slotted(se-checkbox) {
  padding-top: 6px;
}

::slotted(input) {
  height: 28px;
  width: 60%;
  max-width: $max-width-input;
  border: 1px solid $se-super-light-grey;
  font-size: 14px;
  padding-left: 7px;
}

::slotted(input[disabled]) {
  background-color: $se-white;
}

::slotted(input:focus) {
  outline: none;
  border: 1px solid;
  @include border-color('primary')
}

::slotted(select) {
  height: 32px;
  width: 60%;
  border-radius: 0;
  max-width: $max-width-input + 10;
  border: 1px solid $se-super-light-grey;
  background-color: transparent;
  font-size: 14px;
  padding-left: 4px;
}

se-label {
  width: 30%;
  padding-top: 4px;
  text-align: right;
}

:host([type="checkbox"]) {

	.se-form-field {
		flex-direction: row-reverse;
    justify-content: flex-end;
	}

	se-label {
    text-align: left;
		width: 100% ;
		padding-top: 7px;
	}
}


:host([mode="stacked"]) {
	.se-form-field {
    flex-direction: column;
    @include align-items(start);

	}

	se-label {
    padding: 0 8px 4px;
    text-align: left;
    line-height: 12px;
	}

	::slotted(input) {
		width: 97%;
	}

	::slotted(select) {
		width: 100%;
	}
}

:host(.error) {
	::slotted(input) {
		border: 1px solid $error;
	}
}

:host(.warning) {
	::slotted(input) {
		border: 1px solid $warning;
	}
}

:host(.success) {
	::slotted(input) {
    border: 1px solid $success;

	}
}


// ::slotted(input[type='checkbox']) {
//   position: relative !important;
//   margin: 0 1rem 0 0;
//   cursor: pointer;
//   outline:none;

//   &:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     z-index: 1;
//     width: 1rem;
//     height: 1rem;
//     border: 2px solid transparent;
//     border-color: transparent;
//   }

//   &:indeterminate{
//     &:before {
//       box-sizing: border-box;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       -webkit-transform: translate(-50%, -50%);
//       transform: translate(-50%, -50%);
//       display: table;
//       width: 10px;
//       height: 2px;
//       border-width: 2px;
//       border-style: solid;
//       border-top: 0;
//       border-left: 0;
//       border-color: #a7a7a7;
//       z-index: 1;
//       content: "";
//       margin-left: 1px;
//       margin-top: 1px;
//     }

//   }
//   &:checked:not(:indeterminate):before {
//     -webkit-transform: rotate(-45deg);
//     -moz-transform: rotate(-45deg);
//     -ms-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     height: .5rem;
//     @include border-color('primary');
//     border-top-style: none;
//     border-right-style: none;
//   }

//   &:after {
//     content: "";
//     position: absolute;
//     top: -1px;
//     left: 0;
//     width: 1rem;
//     height: 1rem;
//     background: #fff;
//     border: 2px solid #dedcdc;
//     cursor: pointer;
//   }
// }
