@import "../../theme/theme";

:host {
  height: auto;
  font-size: 12px !important;
  color: inherit;
  fill: currentColor;
  width: 100%;
}
.standard {
  // .cls-1 {
  //   color: $se-life-green;
  //   fill: $se-life-green;
  // }
  // .cls-2 {
  //   color: $se-logo-green;
  // }

}
.inherited {
  filter: brightness(0) invert(1);

  // .cls-1 {
  //   color: inherit;
  // }
  // .cls-2 {
  //   color: inherit;
  // }
}
