<se-widget-container>
  <se-widget style="width: 300px">
    <se-widget-header>Filter</se-widget-header>

    <se-widget-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-radio-on-off></se-radio-on-off>
      <span id="switch-state"></span>
    </se-widget-content>
    <se-widget-footer>
      <se-button mode="standard">Apply</se-button>
      <se-button mode="raised">Apply</se-button>
    </se-widget-footer>
  </se-widget>
  <se-widget class="flex">
    <se-widget-header>Filter</se-widget-header>
    <se-widget-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-button mode="flat" color="error">Warning</se-button>
      <se-button mode="login">Login</se-button>
      <se-button mode="signup">Sign Up</se-button>
      <span id="button-info"></span>
    </se-widget-content>
    <se-widget-footer fxLayoutAlign="row">
      <se-button mode="flat" color="primary">Flat</se-button>
      <se-button mode="raised" color="primary">Raised</se-button>
      <se-button mode="text">Text</se-button>
      <se-button mode="text" color="primary">Text</se-button>
    </se-widget-footer>
  </se-widget>
</se-widget-container>
