<se-container option="widget" position="absolute">
  <se-widget style="width: 300px">
    <se-widget-header>Filter
      <div slot="end">
          <se-icon option="button" color="alternative">favourites_addto</se-icon>
          <se-icon option="button" color="alternative">other_vertical</se-icon>
      </div>
    </se-widget-header>

    <se-widget-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-radio-on-off></se-radio-on-off>
      <span id="switch-state"></span>
    </se-widget-content>
    <se-widget-footer>
      <se-button color="standard">Apply</se-button>
      <se-button option="raised">Apply</se-button>
    </se-widget-footer>
  </se-widget>
  <se-widget class="flex">
    <se-widget-header>Filter</se-widget-header>
    <se-widget-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-divider></se-divider>
      <se-button option="flat">standard</se-button>
          <se-button id="flatBtn1" option="flat" color="alternative">alternative</se-button>
          <se-button option="flat" color="primary">primary</se-button>
          <se-button option="flat" color="secondary">secondary</se-button>

          <se-button icon="action_resize">Resize</se-button>
          <se-button option="outline">Outline</se-button>
          <se-button option="outline" color="alternative">Outline alternative</se-button>
          <se-button option="outline" color="primary">Outline primary</se-button>
          <se-button option="outline" color="secondary">Outline secondary</se-button>

      <se-divider></se-divider>
    </se-widget-content>
    <se-widget-footer fxLayoutAlign="row">
      <se-button option="flat" color="primary">Flat</se-button>
      <se-button option="raised" color="primary">Raised</se-button>
      <se-button option="text">Text</se-button>
      <se-button option="text" color="primary">Text</se-button>
    </se-widget-footer>
  </se-widget>
</se-container>
