<se-container option="widget" position="absolute">
  <se-block style="width: 300px">
    <se-block-header>Filter
      <div slot="end">
        <se-icon option="button" color="alternative">favourites_addto</se-icon>
        <se-icon option="button" color="alternative">other_vertical</se-icon>
      </div>
    </se-block-header>

    <se-block-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-radio-on-off></se-radio-on-off>
      <span id="switch-state"></span>
    </se-block-content>
    <se-block-footer>
      <se-button color="standard">Apply</se-button>
      <se-button option="raised">Apply</se-button>
    </se-block-footer>
  </se-block>
  <se-block class="flex">
    <se-block-header>Filter</se-block-header>
    <se-block-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-divider></se-divider>
      <se-button option="flat">Small</se-button>
      <se-button size="medium">Medium</se-button>
      <se-button size="large">Large</se-button>
      <se-button id="flatBtn1" option="flat" color="alternative">alternative</se-button>
      <se-button option="flat" color="primary">primary</se-button>
      <se-button option="flat" color="secondary">secondary</se-button>
      <se-button icon="action_resize">Resize</se-button>
      <se-button option="outline">Outline</se-button>
      <se-button option="outline" color="alternative">Outline alternative</se-button>
      <se-button option="outline" color="primary">Outline primary</se-button>
      <se-button option="outline" color="secondary">Outline secondary</se-button>
      <se-divider></se-divider>
      <se-button option="flat" color="primary" (click)="showSnackbar()">Show Snackbar</se-button>
      <se-button option="flat" color="primary" (click)="showDialog()">Dialog Simple</se-button>
      <se-button option="flat" color="primary" (click)="showTitle()">Dialog With Title & Icon</se-button>
      <se-button option="flat" color="primary" (click)="showConfirm()">Dialog Complex</se-button>
      <se-button option="flat" color="primary" (click)="showModal()">Dialog Modal</se-button>
      <se-button option="flat" color="primary" (click)="showPageLoader()">Show Page Loader</se-button>
      <p>{{showDialogMessage}}</p>
    </se-block-content>
    <se-block-footer fxLayoutAlign="row">
      <se-button option="flat" color="primary">Flat</se-button>
      <se-button option="raised" color="primary">Raised</se-button>
      <se-button option="text">Text</se-button>
      <se-button option="text" color="primary">Text</se-button>
    </se-block-footer>
  </se-block>
</se-container>