@import "../../theme/theme";

:host {
	margin: $spacing-small;
}
.se-visual-linear {
  display: flex;
}

svg {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

// Set width to 100% on Chrome.
// Will remove when Chromium-based Edge browser is released.
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  svg {
    width: 100%;
  }
}

// Set width to 100% on Firefox.
// Will remove when Chromium-based Edge browser is released.
@-moz-document url-prefix() {
  svg {
    width: 100%;
  }
}

// Set width on Edge to fit within widget when option is set to inline.
// Will remove when Chromium-based Edge browser is released.
@supports (-ms-ime-align:auto) {
  svg {
    width: 80%;
  }
}

.progress-bar-wrapper {
  fill: $se-ultra-light-grey-2;
  width: 100%;
}

.progress-bar {
  color: inherit;
}

text {
  color: $se-anthracite-grey;
}

.linear-value {
  font-weight: 600;
}

.linear-label {
  font-size: 12px;
}

.linear-value + .linear-label {
  font-size: 14px;
}

.inline {
  &.se-visual-linear {
    flex-direction: row;
    justify-content: center;
    @include align-items(start);
  }

  svg {
    margin-right: $spacing-large;
  }

  .linear-value {
    margin-right: $spacing-small;
  }
}

.stacked {
  &.se-visual-linear {
    flex-direction: column-reverse;
  }
  .linear-value + .linear-label {
    float: right;
  }
}
