@import "../../theme/theme";

.se-icon-wrapper {
  display: inline-block;
  font-family: "se-icon";
  speak: none;
  font-style: normal;
  position: relative;
  top: -2px;
  font-size: 24px;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  font-stretch: normal;
  text-transform: none;
  text-rendering: auto; // optimizelegibility throws things off #1094
  font-smoothing: antialiased;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-display: block;
  transition: .2s;

  &.icon-nano {
    font-size: 14px;
    line-height: 14px;
  }

  &.icon-small {
    font-size: 24px;
    line-height: 24px;
  }

  &.icon-medium {
    font-size: 32px;
    line-height: 32px;
  }

  &.icon-large {
    font-size: 52px;
    line-height: 52px;
  }

  &.icon-xlarge {
    font-size: 62px;
    line-height: 62px;
  }

  &.standard {
    @include color("standard");
  }

  &.alternative {
    @include color("alternative");
  }

  &.primary {
    @include color("primary");
  }

  &.secondary {
    @include color("secondary");
  }

  &.success {
    @include color("success");
  }

  &.warning {
    @include color("warning");
  }

  &.error {
    @include color("error");
  }

  &.icon-button {
    cursor: pointer;
    border-radius: $border-radius;
    line-height: inherit;

    &.standard {
      @include color("standard-contrast");
      @include background-color("standard");
      &:hover {
        @include color("hover-standard-contrast");
        @include background-color("hover-standard");
      }
    }

    &.alternative {
      @include color("alternative-contrast");
      @include background-color("alternative");

      &:hover {
        @include color("hover-alternative-contrast");
        @include background-color("hover-alternative");
      }
    }
    &.primary {
      @include color("primary-contrast");
      @include background-color("primary");

      &:hover {
        @include color("hover-primary-contrast");
        @include background-color("hover-primary");
      }
    }

    &.secondary {
      @include color("secondary-contrast");
      @include background-color("secondary");

      &:hover {
        @include color("hover-secondary-contrast");
        @include background-color("hover-secondary");
      }
    }

    &.success {
      @include color("success-contrast");
      @include background-color("success");

      &:hover {
        @include color("hover-success-contrast");
        @include background-color("hover-success");
      }
    }

    &.warning {
      @include color("warning-contrast");
      @include background-color("warning");

      &:hover {
        @include color("hover-warning-contrast");
        @include background-color("hover-warning");
      }
    }

    &.error {
      @include color("error-contrast");
      @include background-color("error");

      &:hover {
        @include color("hover-error-contrast");
        @include background-color("hover-error");
      }
    }

    &.selected {
      @include color("selected-contrast");
      @include background-color("selected");
    }

    &:active,
    &.button:active {
      @include color("selected-contrast");
      @include background-color("selected");
    }

    &:focus,
    &.button:focus {
      @include  color("focus-contrast");
      @include background-color("focus");
    }
  }
}
