@import "../../theme/theme";

:host {
  display: inline-block;
  font-family: "se-icon";
  speak: none;
  font-style: normal;
  position: relative;
  top: 0;
  font-size: 24px;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  font-stretch: normal;
  text-transform: none;
  text-rendering: auto; // optimizelegibility throws things off #1094
  font-smoothing: antialiased;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-display: block;
}

:host(.icon-nano) {
  font-size: 14px;
  line-height: 14px;
}
:host(.icon-small) {
  font-size: 24px;
  line-height: 24px;
}
:host(.icon-medium) {
  font-size: 32px;
  line-height: 32px;
}
:host(.icon-large) {
  font-size: 52px;
  line-height: 52px;
}
:host(.icon-xlarge) {
  font-size: 62px;
  line-height: 62px;
}
:host(.icon-button) {
  cursor: pointer;
  border-radius: $border-radius;
  line-height: inherit;
}

:host(.icon-button.selected) {
  @include color("selected-contrast");
  @include background-color("selected");
}

// Standard color
:host(.standard) {
  @include color("standard");
}
:host(.standard.icon-button) {
  @include color("standard-contrast");
  @include background-color("standard");
}
:host(.standard.icon-button:hover) {
  @include color("hover-standard-contrast");
  @include background-color("hover-standard");
}

// Alternative color
:host(.alternative) {
  @include color("alternative");
}
:host(.alternative.icon-button) {
  @include color("alternative-contrast");
  @include background-color("alternative");
}
:host(.alternative.icon-button:hover) {
  @include color("hover-alternative-contrast");
  @include background-color("hover-alternative");
}

// Primary color
:host(.primary) {
  @include color("primary");
}
:host(.primary.icon-button) {
  @include color("primary-contrast");
  @include background-color("primary");
}
:host(.primary.icon-button:hover) {
  @include color("hover-primary-contrast");
  @include background-color("hover-primary");
}

// Secondary color
:host(.secondary) {
  @include color("secondary");
}
:host(.secondary.icon-button) {
  @include color("secondary-contrast");
  @include background-color("secondary");
}
:host(.secondary.icon-button:hover) {
  @include color("hover-secondary-contrast");
  @include background-color("hover-secondary");
}

:host(:active),
:host(.anthracitegrey.button:active),
:host(.lightgrey:active),
:host(.lightgrey.button:active),
:host(.white.button:active),
:host(.lifegreen.button:active),
:host(.lightgreen.button:active) {
  @include color("selected-contrast");
  @include background-color("selected");
}
:host(:focus),
:host(.anthracitegrey.button:focus),
:host(.lightgrey.button:focus),
:host(.white.button:focus),
:host(.lifegreen.button:focus),
:host(.lightgreen.button:focus) {
  @include color("focus-contrast");
  @include background-color("focus");
}

:host(.disabled),
:host(.button.disabled),
:host(.disabled:hover),
:host(.button.disabled:hover) {
  color: $se-light-grey;
  background-color: $se-ultra-light-grey-2;
  cursor: default;
}