@import "../../theme/theme";

:host {
  display: inline-block;
  font-family: "se-icon";
  speak: none;
  font-style: normal;
  position: relative;
  top: 0;
  font-size: 24px;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  font-stretch: normal;
  text-transform: none;
  text-rendering: auto; // optimizelegibility throws things off #1094
  font-smoothing: antialiased;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-display: block;
}
:host(.nano){
  font-size: 14px;
  line-height: 14px;
}
:host(.small) {
  font-size: 24px;
  line-height: 24px;
}
:host(.medium) {
  font-size: 32px;
  line-height: 32px;
}
:host(.large) {
  font-size: 52px;
  line-height: 52px;
}
:host(.xtralarge) {
  font-size: 64px;
  line-height: 64px;
}
:host(.button) {
  cursor: pointer;
  border-radius: $border-radius;
  line-height: inherit;
}

// Anthracite Grey Color
:host(.anthracitegrey) {
  color: $se-anthracite-grey;
}
:host(.anthracitegrey.button) {
  color: $se-white;
  background-color: $se-anthracite-grey;
}

// Light Grey Color
:host(.lightgrey) {
 color: $se-light-grey;
}
:host(.lightgrey:hover) {
  color: $se-black;
}
:host(.lightgrey.button) {
  color: $se-white;
  background-color: $se-light-grey;
}

// White Color
:host(.white) {
  color: $se-white;
}
:host(.white.button) {
  color: $se-white;
  background-color: $se-light-grey;
}

// Life Green Color
:host(.lifegreen) {
  @include color("primary");
}
:host(.lifegreen.button) {
  @include color("primary-contrast");
  @include background-color("primary");
}

// Light Green Color
:host(.lightgreen) {
  color: $se-light-green;
}
:host(.lightgreen.button) {
  color: $se-white;
  background-color: $se-light-green;
}

:host(:hover),
:host(.button:hover) {
  @include background-color("hover-standard");
}

:host(.lifegreen.button:hover),
:host(.lightgreen.button:hover) {
  @include color("hover-primary-contrast");
  @include background-color("hover-primary");
}

:host(:active),
:host(.anthracitegrey.button:active),
:host(.lightgrey:active),
:host(.lightgrey.button:active),
:host(.white.button:active),
:host(.lifegreen.button:active),
:host(.lightgreen.button:active) {
  @include color("selected-contrast");
  @include background-color("selected");
}
:host(:focus),
:host(.anthracitegrey.button:focus),
:host(.lightgrey.button:focus),
:host(.white.button:focus),
:host(.lifegreen.button:focus),
:host(.lightgreen.button:focus) {
  @include color("focus-contrast");
  @include background-color("focus");
}

:host(.disabled),
:host(.button.disabled),
:host(.disabled:hover),
:host(.button.disabled:hover) {
  color: $se-light-grey;
  background-color: $se-ultra-light-grey-2;
  cursor: default;
}