@import "../../theme/theme";

:host {
  position: relative;
  display: block;
  margin: 0;
  font-weight: lighter;
  font-size: 20px;
  width: 100%;
  height: 50px;

  .se-icon {
    font-family: 'se-icon';
    font-style: normal;
    font-size: 40px;
  }


  button{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    text-align: start;

    .selectedBar{
      display: none;
    }
    .nav-text {
      @include flex(1);
      padding-left: 20px;
    }

  }

}

:host(.nav.selected) {
  color: mat-color($primary);
  color: var(--primary, mat-color($primary));
  .selectedBar{
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 5px;
    @include background-color-property($primary, '--primary')
  }
}

