@import "../../theme/theme";

:host{
  position: relative;
  padding: $spacing-small $spacing-small 2px $spacing; // 2px to compensate with border bottom
  font-size: 20px;
  min-height: 40px;
  border-bottom: 1px solid $divider-color;
  // @include display-flex();
  @include align-items(center);
  @include display-flex();

  .flex{
    @include flex();
  }

  h4 {
    @include typology('h5');
    text-transform: uppercase;
    margin: 8px;
  }
}
:host(.card) {
  border-bottom: none;
  padding-bottom: $spacing-small;
  h3, h4, h5 {
    @include color('primary');
  }
}
