@import "../../theme/theme";
@import "../../theme/animation";

:host{
  position: absolute;
  width: 100%;
  height: 100%;

  [role="sidenavpanel"] {
    height: 100%;
  }
}

.navitem-hidden {
  display: none !important;
}
