# Add files here to ignore them from prettier formatting

/dist
/coverage
*.md
libs/angular/src/lib/directives
libs/core/src/components.d.ts
libs/core/.scripts/dash/template-component.js
libs/core/.scripts/dash/template-index.js
libs/core/package-lock.json
libs/angular/src/lib/directives/proxies.ts
libs/angular/src/lib/directives/angular-component-lib/utils.ts
libs/react/src/react-component-lib/createComponent.tsx
libs/react/src/react-component-lib/utils/index.tsx
libs/vue/src/components.ts
libs/vue/src/vue-component-lib/utils.ts
