@import "../../theme/theme";

:host(.active) {
  button[color="primary"], button[color="primary"]:focus {
    background-color: $se-dark-green;
  }
  button[color="accent"], button[color="accent"]:focus {
    background-color: $se-dark-sky-blue;
  }
  button[color="warn"], button[color="warn"]:focus {
    background-color: darken($warn, 10);
  }
  button[color="error"], button[color="error"]:focus {
    background-color: $se-fuchsia-red;
  }
  button[color="light"], button[color="light"]:focus {
    color: $se-white;
    background-color: $se-dark-grey;
  }


}

button {
  color: $se-anthracite-grey;
  background-color: $se-ultra-light-grey-1;
  padding: 0 34px;
  height: 32px;
  margin: $spacing;
  border: none;
  font-size: 14px;
  border-radius: $border-radius;
  outline: none;
  line-height: 17px;
  font-weight: 300;
  @include align-items(center);
  cursor: pointer;
  @include button-active-properties($background, $se-dark-grey, $se-white);
  se-icon {
    margin: 0 5px;
  }
  &[color="primary"] {
    @include color-property($primary-contrast, 'primary-contrast');
    @include background-color-property($primary, 'primary');
    @include button-active-properties($se-medium-green, $se-dark-grey, $se-white);
  }
  &[color="error"] {
    @include color-property($warn-contrast, 'warn-contrast');
    @include background-color-property($error, 'error');
    @include button-active-properties($se-fuchsia-red, $se-dark-grey, $se-white);
  }
  &[color="accent"] {
    @include color-property($accent-contrast, 'accent-contrast');
    @include background-color-property($accent, 'error');
    @include button-active-properties($se-fuchsia-red, $se-dark-grey, $se-white);
  }
  &[color="warn"] {
    @include color-property($warn-contrast, 'warn-contrast');
    @include background-color-property($warn, 'warn');
    @include button-active-properties($se-sunflower-yellow, $se-dark-grey, $se-white);
  }

  &[data-mode="raised"] {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  }

  &[data-mode="outline"] {
    background-color: transparent;
    @include button-active-properties($se-ultra-light-grey-2, $se-dark-grey, $se-white);
    border: 1px solid $se-anthracite-grey;
  }

  &[data-mode="text"] {
    background-color: transparent;
    @include button-active-properties($se-ultra-light-grey-2, $se-dark-grey, $se-white);
  }

  &[data-mode="text"][color="primary"] {
    @include color-property($primary, 'primary');
    @include button-active-properties($se-ultra-light-grey-2, $se-dark-grey, $se-white);
  }

  &[data-mode="login"] {
    height: 32px;
    padding: 0 50px;
    font-size: 18px;
    line-height: 22px;
    color: $se-white;
    @include background-color-property($primary, 'primary');
    @include button-active-properties($se-medium-green, $se-dark-grey, $se-white);
  }

  &[data-mode="signup"] {
    height: 32px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 22px;
    color: $se-white;
    @include background-color-property($accent, 'accent');
    @include button-active-properties($se-dark-sky-blue, $se-dark-grey, $se-white);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.26;
  }
}
:host(.grouped) {
  button {
    margin: $spacing 0;
    height: 24px;
    padding: 0 14px ;
    font-size: 11px;
    line-height: 13px;
    border-left: 1px solid $se-anthracite-grey;
  }
}
:host(.grouped.hasChild) {
  button {
    padding: 0 14px !important;
  }
}

:host(.grouped:first-child) {
  button {
    margin-left: $spacing;
    border-left: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

:host(.grouped:last-child) {
  button {
    margin-right: $spacing;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

:host(.disabled) {
  button {
    cursor: default;
    opacity: 0.26;
    &:hover, &:focus {
      background-color: $se-ultra-light-grey-1;
      color: inherit;
    }
  }
}

:host(.hasIcon) {
  top: 3px;
  position: relative;
  button {
    font-size: 20px;
    padding: 0;
  }
}
:host(.hasChild) {
  button {
     padding: 0px 34px;
  }
}
