@import "../../theme/theme";

button {
  padding: 0 16px;
  height: 32px;
  margin: $spacing-small;
  border: none;

  border-radius: $border-radius;
  outline: none;
  @include align-items(center);
  cursor: pointer;
  .text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
  }
  se-icon {
    margin: 0 5px;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.26;
  }

  &.raised {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
  &.inherit {
    background-color: transparent !important;
    color: inherit !important;
  }

  &.standard {
    @include color("standard-contrast");
    @include background-color("standard");
    &:hover {
      @include color("hover-standard-contrast");
      @include background-color("hover-standard");
    }
    &.outline {
      border: 1px solid;
      @include border-color("standard-contrast");
      background-color: transparent;
      &:hover {
        @include background-color("standard", 0.2);

      }
    }
    &.selected {
      @include color("selected-contrast");
      @include background-color("selected");
    }
  }


  &.alternative {
    @include color("alternative-contrast");
    @include background-color("alternative");
    &:hover {
      @include color("hover-alternative-contrast");
      @include background-color("hover-alternative");
    }
    &.outline {
      border: 1px solid;
      background-color: transparent;
      @include color('alternative');
      @include border-color("alternative");
      &:hover {
        @include background-color("alternative-contrast", 0.2);
      }
    }
    &.selected {
      @include color("selected-contrast");
      @include background-color("selected");
    }
  }


  &.primary {
    @include color("primary-contrast");
    @include background-color("primary");

    &:hover {
      @include color("hover-primary-contrast");
      @include background-color("hover-primary");
    }
    &.outline {
      border: 1px solid;
      background-color: transparent;
      @include color("primary");
      @include border-color("primary");
      &:hover {
        @include background-color("primary", 0.2);
      }
    }
    &.selected {
      @include color("selected-contrast");
      @include background-color("selected");
    }
  }
  &.secondary {
    @include color("secondary-contrast");
    @include background-color("secondary");

    &:hover {
      @include color("hover-secondary-contrast");
      @include background-color("hover-secondary");
    }
    &.outline {
      background-color: transparent;
      border: 1px solid;
      @include color("secondary");
      @include border-color("secondary");
      &:hover {
        @include background-color("secondary", 0.2);
      }
    }
    &.selected {
      @include color("selected-contrast");
      @include background-color("selected");
    }
  }

  &.login, &.signup{
    height: 32px;
    font-size: 18px;
    // padding: 0 50px;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin-top: $spacing;
    margin-left: 0px;
  }

  // &:focus{
  //   @include color("selected-contrast");
  //   @include background-color("selected");
  // }
}

:host(.grouped) {
  button {
    margin: $spacing-small 0;
    height: 24px;
    padding: 0 14px;
    font-size: 11px;
    line-height: 13px;
    border-left: 1px solid $se-anthracite-grey;
  }
}
:host(.grouped.hasChild) {
  button {
    padding: 0 14px !important;
  }
}

:host(.grouped:first-child) {
  button {
    margin-left: $spacing-small;
    border-left: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

:host(.grouped:last-child) {
  button {
    margin-right: $spacing-small;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

:host(.hasIcon) {
  top: 3px;
  position: relative;
  button {
    se-icon {
      font-size: 20px;
    }
    padding: 0;
  }
}
:host(.hasIcon.hasChild) {
  .text {
    padding-right: 16px;
  }
}
