@import "../../theme/theme";

:host {
  z-index: 0;
  margin: 0;
  font-weight: lighter;
  @include display-flex();
}

:host(.hide-nav-icon) {
  se-icon {
    display: none;
  }
}

:host(.sidemenu-list-item) {
  .nav-content {
    font-weight: 500;
  }

  button {
    border-bottom: 1px solid $divider-color;
  }
}

.se-list-item {
  width: 100%;
  width: -webkit-fill-available;

  &.classic,
  &.nav {
    button {
      min-height: 47px;
      height: 20px; // IE fix so flexbox vertical alignment works
      max-width: 100%;
    }
  }

  &.classic, &.dropdown {
    button.selected {
      @include color('selected-contrast');
      @include background-color('selected');
      &:hover, &:focus {
        background-color: $se-ultra-dark-grey;
      }
    }
  }

  &.nav {
    button.selected {
      @include color('primary');
    }
  }

  &.treeview {
    button {
      padding: 5.5px 0;
      &.selected {
        @include color('selected-contrast');
        @include background-color('selected');
        &:hover, &:focus{
        background-color: $se-ultra-dark-grey;
        }
      }
      // change the background-color when design team decides
      &.selectedChild {
        @include color('selected-contrast');
        @include background-color('selected');
        &:hover, &:focus{
        background-color:$se-ultra-dark-grey;
        }
      }
    }
    .nav-content {
      padding-left: 4px;
    }
    .nav-icon {
      margin: -3px -8px -3px 4px;
      + .nav-content {
        padding-left: 12px;
      }
    }
  }

  &.dropdown {
    button {
      min-height: 40px;
      height: 20px; // IE fix so flexbox vertical alignment works
      max-width: 100%;
      border-bottom: none;
    }
    .nav-content{
      padding: 5px 0 5px 10px;
    }
  }

  &.headline {
    button {
      min-height: 42px;
      height: 20px; // IE fix so flexbox vertical alignment works
    }
  }

}

:host .se-list-group.treeview {
  .nav-icon {
    margin-right: 0;
    margin-left: -4px;
  }
  .nav-content {
    margin-right: 8px;
  }
  se-icon {
    padding-top: 0;
  }
}

:host .dropdown {
  button {
    padding-left: 0;
  }
  .nav-icon {
    margin-right: 0;
    margin-left: 4px;
  }
  .nav-content {
    margin-right: 8px;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  position: relative;
  outline: none;
  background: transparent;
  width: 100%;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  @include display-flex();
  @include align-items(center);
  @include flex();
  text-align: left; // MS Edge does not support "start"
  text-align: start;
  border-bottom: 1px solid $divider-color;
  &:not([disabled]){
    cursor: pointer;
    &:hover, &:focus{
      background-color: $se-ultra-light-grey-1;
    }
  }
}
.selectedBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  @include background-color("primary");
}

.nav-icon {
  margin-right: -12px;
  margin-left: 8px;
}

.nav-content {
  min-width: 0;
  padding: 3px 0 3px 18px;
  margin: 0;
  overflow: hidden;
  @include typology('base');
  @include flex();
  @include display-flex();
  @include flex-direction(column);
  @include align-items(start center);

  div, small {
    @include ellipsis();
    margin-right: $spacing;
  }
}
se-list-item .nav-icon {
  margin-left: 18px;
}