@import "../../theme/theme";
@import "../../theme/animation";

:host{
  position: relative;
  width: 100%;
  height: 100%;
}
:host(.navitem-hidden) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}
