@import "../../theme/theme";

:host {
  position: relative;
  padding: $spacing;
  font-size: 20px;
  min-height: 40px;
  // @include display-flex();
  @include align-items(center);
  @include display-flex();

  .flex{
    @include flex();
  }
}

:host(.alternative){
  @include background-color('se-alternative');
  @include color('se-primary');
}

:host(.primary){
  @include background-color('se-primary');
  @include color('se-primary-contrast');
}
