<se-container position="absolute">
  <se-block width="250px">
      <se-list>
        <se-list-item
          *ngFor="let site of sites"
          (click)="changeSite(site.id)"
          [selected]="site.id === selectedSite"
          item="{{site.name}} ealkjaf adlkjdf adkjaflkj adlfkjadflkj "
          icon="user_add"
        ></se-list-item
        >,
        <!-- <se-list-item item-title="Basic Item">
          </se-list-item> -->
      </se-list>
  </se-block>
  <se-divider option="vertical"></se-divider>

  <se-container display="grid" option="card">
    <ng-container *ngFor="let tile of tiles"
      dynamicWidget
      [type]="tile.widgetType"
      [siteId]="selectedSite"
      [enlarged]="tile.cols === 2"
      [toggleable]="nbCols !== 1"
      (toggle)="toggleSize($event, tile)"
    ></ng-container>
  </se-container>
</se-container>
