@import "../../theme/theme";

:root {
  @each $element, $value in $seTheme {
    @include define-custom-property($element, $value);
  }
}
:host{
  width: 100%;
}
.se-app-body {
  overflow: hidden;
  overflow: hidden;
  margin: 0 !important;
  padding: 0;
  @include absolute(0,0,0,0);
  @include display-flex();
  @include flex-direction(column);
  @include background-color('background');
}
body {
  @include background-color('background');
}

// Create all classes to use colors as classes
@each $element in ( 'standard',
                    'alternative',
                    'primary',
                    'secondary',
                    'success',
                    'warning',
                    'error',
                    'standard-contrast',
                    'alternative-contrast',
                    'primary-contrast',
                    'secondary-contrast',
                    'success-contrast',
                    'warning-contrast',
                    'error-contrast',
                    'background'
                    ) {
  .color-#{$element}{
    @include  color('' + $element);
  }
  .bg-#{$element}{
    @include background-color('' + $element);
  }
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	//font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
// body {
// 	 line-height: 1.4;
// }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

body, html{
  @include typology('p');
  color: $off-black;
  // Header Styles
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
  }
  h1 {
    @include typology('h1');
  }
  h2 {
    @include typology('h2');
  }
  h3 {
    @include typology('h3');
  }
  h4 {
    @include typology('h4');
  }
  h5 {
    @include typology('h5');
  }
  h6 {
    @include typology('h6');
  }
  p {
    @include typology('p');
  }

  // Text Styles
  em { font-style: italic; }
}

strong, .bold { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.flow-text{
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}

.uppercase{
  text-transform: uppercase;
}

body, html {
  ::-webkit-scrollbar {
    height: ((2*$scrollbar-side-padding) +  $scrollbar-side-padding);
    width: ((2*$scrollbar-side-padding) +  $scrollbar-side-padding);
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border: $scrollbar-side-padding solid transparent;
    background-clip: padding-box;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-track {
    background-color: $se-ultra-light-grey-2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $se-light-grey;
    &:hover {
      @include background-color('selected');
      border: $scrollbar-side-padding solid transparent;
    }
  }
}

.technical se-block ::slotted(se-block) {
  border: 4px solid red;
}
