<se-container position="absolute" direction="column">

  <app-header></app-header>

  <se-tabbar color='primary'>
    <nav slot="start">
      Tenant:
      <se-dropdown alignment="left">
        <se-button slot="trigger" option="inherit">Site 1</se-button>
        <se-list option="dropdown">
          <se-list-item item="Site 2"></se-list-item>
          <se-list-item item="Site 3"></se-list-item>
        </se-list>
      </se-dropdown>
    </nav>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/docs" routerLinkActive="active">Docs</a>
    </nav>
    <nav slot="end">
      <a href="">End</a>
    </nav>
  </se-tabbar>
  <se-container>
    <router-outlet></router-outlet>
  </se-container>
</se-container>
