<se-app>

  <app-header></app-header>

  <se-navbar color='primary'>
    <nav slot="start">
      Tenant:
      <a class="dropdown">
        test
      </a>
    </nav>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/docs" routerLinkActive="active">Docs</a>
    </nav>
    <nav slot="end">
      <a href="">End</a>
    </nav>
  </se-navbar>
  <se-container>
    <router-outlet></router-outlet>
  </se-container>
</se-app>
