@import "../../theme/theme";

:host {
  overflow: auto;
}

:host(.absolute) {
  @include absolute();
}

:host(.relative) {
  position: relative;
}

:host(.column-dir) {
  @include flex-direction(column);
}

:host(.row-dir) {
  @include flex-direction(row);
}

:host(.flex-display) {
  flex-wrap: nowrap;
  @include flex();
  @include display-flex();
}

:host(.block-display) {
  display: block !important;
  width: 100%;
}

:host(.grid-display) {
  display: grid;
  width: 100%;
  width: -webkit-fill-available;
}

:host(.fill-content:not(.block-display)) {
  padding: 0;
  height: 100%;
}

:host(.card-content:not(.block-display)) {
  padding: $spacing;
}

:host(.widget-content:not(.block-display)) {
  padding: $spacing-small;
}

:host(.centered-content) {
  display: block;
  .wrapper-center {
    padding-right: $spacing-large;
    padding-left: $spacing-large;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1100px) {
    .wrapper-center {
      max-width: $centered;
    }
  }
}

:host(.standard) {
  @include background-color('background');
}

:host(.alternative) {
  @include color("alternative-contrast");
  @include background-color("alternative");
}