@import "../../theme/theme";

$chip-height: 32px;

:host {
  display: inline-flex;
  margin: $spacing;
  height: $chip-height;
  padding-left: $chip-height / 4;
  padding-right: $chip-height / 4;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  background: transparent;
  outline: none;
  border-radius: 16px;
  @include align-items(center);

  .se-icon {
    cursor: pointer;
    font-size: 32px;
    margin-right: -6px;
    font-family: "se-icon";
    &[data-hide] {
      display: none;
    }
  }
}

:host(.standard) {
  border: 1px solid $se-ultra-dark-grey;
  color: $se-anthracite-grey;
}

:host(.alternative) {
  border: 1px solid $se-white;
  @include  color('alternative');
}

:host(.standard:hover) {
  border: 1px solid $se-anthracite-grey;
  background-color: rgba(203,203,203,0.2);
}

:host(.alternative:hover) {
  background-color: rgba(203,203,203,0.6);
}

:host(.standard:active),
:host(.alternative:active) {
  @include  color('selected-contrast');
  @include background-color('selected');
  border: 1px solid $se-dark-grey;
}
:host(.standard:focus),
:host(.alternative:focus) {
  @include  color('focus-contrast');
  @include background-color('focus');
}

:host(.disabled) {
  color: $se-light-grey;
  border: 1px solid $se-light-grey;
  .se-icon {
    cursor: default;
  }
}
