@import "../../theme/theme";

$chip-height: 22px;

:host {
  display: inline-flex;
  margin: $spacing;
  height: $chip-height;
  padding-left: $chip-height / 2;
  padding-right: $chip-height / 2;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  @include align-items(center);

  .se-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    margin-right: -10px;
    font-family: "se-icon";
    &[data-hide] {
      display: none;
    }
  }
}


:host(.standard) {
  @include color('standard-contrast');
  @include background-color('standard');
}

:host(.alternative) {
  @include color('alternative-contrast');
  @include background-color('alternative');
}

:host(.standard:hover),
:host(.alternative:hover) {
  @include color('hover-standard-contrast');
  @include background-color('hover-standard');
}
:host(.standard:active),
:host(.alternative:active),
:host(.selected) {
  @include color('selected-contrast');
  @include background-color('selected');
}
:host(.standard:focus),
:host(.alternative:focus) {
  @include color('focus-contrast');
  @include background-color('focus');
}

:host(.standard.disabled) {
  color: $se-light-grey;
  background-color: $se-ultra-light-grey-2;
  .se-icon {
    cursor: default;
  }
}

:host(.alternative.disabled) {
  color: $se-super-light-grey;
  @include background-color('alternative');
  .se-icon {
    cursor: default;
  }
}

:host(.primary) {
  @include color('primary-contrast');
  @include background-color('primary');
}
:host(.primary:hover) {
  @include color('hover-primary-contrast');
  @include background-color('hover-primary');
}

:host(.secondary) {
  @include color('secondary-contrast');
  @include background-color('secondary');
}
:host(.secondary:hover) {
  @include color('hover-secondary-contrast');
  @include background-color('hover-secondary');
}

:host(.red) {
  @include color('primary-contrast');
  background-color: $se-red;
}
:host(.fuchsia) {
  @include color('primary-contrast');
  background-color: $se-fuchsia-red;
}
:host(.skyBlue) {
  @include color('primary-contrast');
  background-color: $se-sky-blue;
}
:host(.darkBlue) {
  @include color('primary-contrast');
  background-color: $se-dark-sky-blue;
}
:host(.orange) {
  @include color('primary-contrast');
  background-color: $se-honeysuckle-orange;
}
:host(.yellow) {
  @include color('primary-contrast');
  background-color: $se-sunflower-yellow;
}
:host(.gray) {
  @include color('primary-contrast');
  background-color: $se-medium-grey;
}
