@import "../../theme/theme";

:host {
  overflow: auto;
}
:host(.column) {
  @include flex-direction(column);
}

:host(.row) {
  @include flex-direction(row);
}
:host(.flex){
  flex-wrap: nowrap;
  height: 100%;
  @include flex();
  @include display-flex();
}
:host(.block){
  display: block !important;
}
:host(.absolute) {
  @include absolute();
}
:host(.relative) {
  position: relative;
}
:host(.widget-content) {
  margin: $spacing-small;
}
:host(.fill-content) {
  margin: 0;
  height: 100%;
}

:host(.centered-content) {
  // .container{
  margin-right: auto;
  margin-left: auto;
  // }
  // @include align-items(center);
  // @include justify-content(center);
}

:host(.standard) {
  @include color("standard-contrast");
  @include background-color("standard");
}
:host(.alternative) {
  @include color("alternative-contrast");
  @include background-color("alternative");
}

@media (min-width: 768px) {
  :host(.centered-content) {
      width: 750px;
  }
}
@media (min-width: 992px) {
  :host(.centered-content) {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  :host(.centered-content) {
      width: 1170px;
  }
}
