@import "../../theme/theme";

:host {
  @include flex();
  @include display-flex();
  overflow: auto;
}
:host(.column) {
  @include flex-direction(column);
}

:host(.row) {
  @include flex-direction(row);
}

:host(.absolute) {
  @include absolute();
}
:host(.relative) {
  position: relative;
  height: 100%;
}
:host(.widget-content) {
  margin: $spacing-small;
  @include background-color("standard");
}
:host(.card-content) {
  margin: $spacing-small;
  @include background-color("alternative");
}
:host(.fill-content) {
  margin: 0;
  overflow: hidden;
}

:host(.centered-content) {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

:host(.standard) {
  @include color("standard-contrast");
  @include background-color("standard");
}
:host(.alternative) {
  @include color("standard-contrast");
  @include background-color("standard");
}

@media (min-width: 768px) {
  :host(.centered-content) {
    width: 750px;
  }
}
@media (min-width: 992px) {
  :host(.centered-content) {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  :host(.centered-content) {
    width: 1170px;
  }
}
