@import "../../theme/theme";

:host {
	.switch-container {  
		text-align: left;
		vertical-align: middle;
		width: 42px;
		height: 24px;
		border-radius: 13px;
		border: none;
		background-color: $se-white;
		display: inline-block;
		position: relative;
		cursor: pointer;
		
		&[data-disabled] {
			opacity: 0.26;
		}
		
		.switch-button {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;    
			&:before, &:after {
				content: "";
				cursor: pointer;
				position: absolute;
			}
			&:before {
				width: 100%;
				height: 100%;
				border: 1px solid $se-super-light-grey;
				background-color: $se-white;
				border-radius: 60px;
				transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
				transform: scale(1);
				opacity: 1;
			}
			&:after {
				top: 50%;
				z-index: 3;
				transition: transform .1s linear;
				width: 24px;
				height: 24px;
				transform: translate3d(0, -50%, 0);
				background-color: #fff;
				border-radius: 100%;
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
			}
		}
	
		input {
			opacity: 0;
			position: absolute;
			&:checked ~ span {
				&:before {
					transform: scale(0);
					opacity: .7;
				}
				&:after {
					transform: translate3d(75%, -50%, 0);
				}
			}
		}
	}
}

:host(.selected) {
	.switch-container {
		background-color: $se-life-green;
	}
}