@import "../../theme/animation";
@import "../../theme/theme";


:host {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: transparent !important;

  .full-content{
    @include position();
  }

  .actual-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 30;
    &.show-menu {
      animation-name: slideInLeft;
    }
    &.hide-menu {
      animation-name: slideOutLeft;
    }
  }

  .menu-button {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  .animated {
    @include animated()
  }

  .menu-background {
    position: absolute;
    background-color: rgba(38,38,38, 0.2);
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    z-index: 5;
    &.show-menu{
      animation-name: fadeIn;
    }
    &.hide-menu {
      animation-name: fadeOut;
    }
  }
  .se-icon {
    font-family: 'se-icon';
    font-style: normal;
  }
  .menu-sidenav {
    @include color-property($primary, "primary");
    cursor: pointer;
    font-size: 63px !important;
    margin-right: -17px;
  }

  .flex {
    @include flex(1);
  }
  .d-flex {

    @include display-flex();
    @include flex-direction(row);
  }

  .d-flex-column {
    @include align-items(left);
    @include display-flex();
    @include flex-direction(column);
  }

  .listNavItems{
    width: 250px;
  }
  .navItem {
    padding: 20px;
    &.selected {
      color: green;
    }
  }

}
:host(.show-menu){
  display: block;
}
