@import "../../theme/theme";

$track-width: 100%;
$track-height: 5px;
$thumb-dimension: 16px;
$ie_thumb-dimesion: 20px;
$track-color: #f7f7f7;
$fill-color: #626469;
$disabled-color: #cbcbcb;

@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-width;
	height: $track-height;
	@include background-color('background');

	@if $fill == 1 {
		.slider-container & {
			width: 100%;
			background: linear-gradient($fill-color, $fill-color)0/ var(--sx) 100% no-repeat $track-color;
		}
	}

	@if $fill == 'disabled' {
		.slider-container & {
			width: 100%;
			background: linear-gradient($disabled-color, $disabled-color)0/ var(--sx) 100% no-repeat $track-color;
		}
	}
}

@mixin fill($fill: 0) {
	height: $track-height;
	@include background-color('selected');

	@if $fill == 'disabled' {
		background: $disabled-color;
	}
}

@mixin thumb($value: 0) {
	box-sizing: border-box;
	border: none;
	width: $thumb-dimension;
	height: $thumb-dimension;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	&:hover {
		@include background-color('hover-standard');
		border: $spacing-small solid transparent;
	}
	&:active {
		@include background-color('selected');
	}

	&:hover, &:active {
		width: 24px;
		height: 24px;
		position: relative;
		bottom: 80%;
	}

	@if $value == 'disabled' {
		&:hover, &:active {
			background-color: $se-white;
			width: $thumb-dimension;
			height: $thumb-dimension;
			position: static;
		}
	}
}

input[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
	--sx: 0;
	margin: 0;
	padding: 0;
	width: $track-width;
	height: $thumb-dimension;
	background: transparent;
	&::-webkit-slider-runnable-track {
		@include track(1);
	}
	&::-moz-range-track { @include track; }
	&::-ms-track { @include track; }

	&::-moz-range-progress { @include fill; }
	&::-ms-fill-lower { @include fill; }

	&::-webkit-slider-thumb {
		margin-top: .5*($track-height - $thumb-dimension);
		@include thumb;
	}

	&::-moz-range-thumb { @include thumb; }
	&::-ms-thumb {
		@include thumb;
	}

	&::-ms-tooltip { display: none }
	::-ms-ticks-after {
			display: none;
	}

	::-ms-ticks-before {
			display: none;
	}

	&[disabled] {
		&::-webkit-slider-runnable-track {
			@include track('disabled');
		}
		&::-moz-range-progress { @include fill('disabled'); }
		&::-ms-fill-lower { @include fill('disabled'); }
		
		&::-webkit-slider-thumb {
			@include thumb('disabled');
		}
		&::-moz-range-thumb {
			@include thumb('disabled');
		}
		&::-ms-thumb {
			@include thumb('disabled');
		}
	}
}

@mixin ms-thumb-hover() {
	input[type='range'] {
		height: $ie_thumb-dimesion;
		&::-ms-thumb:hover {
			width: $thumb-dimension;
			height: $thumb-dimension;
			position: static;
		}
		&::-ms-thumb:active {
			width: $thumb-dimension;
			height: $thumb-dimension;
			position: static;
		}
	}
}

// MS Edge specific properties
@supports (-ms-ime-align:auto) {
	@include ms-thumb-hover;
}

// IE 11 specific properties
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	@include ms-thumb-hover;
}