@import "../../theme/theme";

$track-width: 100%;
$track-height: 5px;
$thumb-dimension: 16px;
$ie_thumb-dimesion: 20px;
$track-color: #f7f7f7;
$fill-color: #626469;

@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-width;
	height: $track-height;
	background: $track-color;

	@if $fill == 1 {
	.slider-container & {
		width: 100%;
		background: linear-gradient($fill-color, $fill-color)0/ var(--sx) 100% no-repeat $track-color;
		}
	}
}

@mixin fill() {
	height: $track-height;
	background: $fill-color
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-dimension;
	height: $thumb-dimension;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	&:hover {
		@include background-color('se-selected');
		border: $spacing-small solid transparent;
	}
}

input[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
	--sx: 0;
	margin: 0;
	padding: 0;
	width: $track-width; height: $thumb-dimension;
	background: transparent;
	&::-webkit-slider-runnable-track {
		@include track(1);
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track;}

	&::-moz-range-progress { @include fill }
	&::-ms-fill-lower { @include fill; }

	&::-webkit-slider-thumb {
		margin-top: .5*($track-height - $thumb-dimension);
		@include thumb;
	}

	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
        @include thumb;
	}

	&::-ms-tooltip { display: none }
	::-ms-ticks-after {
			display: none;
	}

	::-ms-ticks-before {
			display: none;
	}
}
