@import "../../theme/theme";

:host {
	display: none;
  overflow: hidden;
  
  .loading-wrapper {
    @include absolute();
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    background-color: rgba(white, 0.6);
  }
  
  .se-loading {
    position: relative;
    z-index: 100;
    line-height: 128px;
    @include animated();
    @include  color("primary");
    @include display-flex();
    @include flex-direction(column);
    &.dialog {
      @include background-color("alternative");
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    }
  }
  
  .loading-background {
    @include absolute();
    @include animated();
    z-index: 120;
  }
  
  .se-icon {
    position: relative;
    font-family: 'se-icon';
    font-size: 128px;
    @include loader();
  }  
}

:host(.show) {
	display: block;
}