@import "../../theme/theme";

.banner-indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  justify-content: center;
  display: inline-flex;
  list-style: none;
  z-index: 2;
}

li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $se-white;
  margin-right: 3px;

  &.active {
    background-color: $se-life-green;
  }
}

.previous-indicator,
.next-indicator {
  display: flex;
  position: absolute;
  top: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $se-medium-grey;
  z-index: 3;

  &:hover {
    color: $se-white;
  }
}

.previous-indicator {
  left: 20px;
}

.next-indicator {
  right: 20px;
}

.se-banner {
  height: 500px;
  position: relative;
}