@import "../../theme/theme";

.banner-indicators {
  position: absolute;
  left: 0;
  right: 0;
  top: 335px;
  padding-left: 0;
  justify-content: center;
  display: inline-flex;
  list-style: none;
  z-index: 2;

  li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $se-white;
    opacity: 0.7;
    margin-right: 5px;
  
    &.active {
      background-color: $se-life-green;
      opacity: 1;
    }
  }
}

.previous-indicator,
.next-indicator {
  display: flex;
  position: absolute;
  font-family: 'se-icon';
  cursor: pointer;
  width: 15px;
  height: 15px;
  font-size: 32px;
  top: 170px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $se-medium-grey;
  z-index: 3;

  &:hover {
    color: $se-white;
  }
}

.previous-indicator {
  left: 10px;
}

.next-indicator {
  right: 10px;
}

.se-banner {
  position: relative;
  height: 700px;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .se-banner {
    height: 350px;
  }

  .banner-indicators {
    bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .se-banner {
    height: 85px;
  }

  .previous-indicator,
  .next-indicator {
    top: 37px;
    height: 10px;
    width: 10px;
    font-size: 24px;
  }

  .previous-indicator {
    left: 5px;
  }

  .next-indicator {
    right: 5px;
  }

  .banner-indicators {
    top: 75px;
  }
}