@import "../../theme/theme";

.banner-items {
  @include display-flex();
  @include flex-direction(row);
  position: relative;
  transition: right 0.5s;
}

.banner-indicators {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding-left: 0;
  justify-content: center;
  display: inline-flex;
  list-style: none;
  z-index: 2;

  li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $se-white;
    opacity: 0.7;
    margin-right: 5px;
  
    &.active {
      background-color: $se-life-green;
      opacity: 1;
    }
  }
}

.previous-indicator,
.next-indicator {
  display: flex;
  position: absolute;
  font-family: 'se-icon';
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $se-medium-grey;
  z-index: 3;

  &:hover {
    color: $se-white;
  }
}

.se-banner {
  position: relative;
  height: 700px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .previous-indicator,
  .next-indicator {
    top: 37px;
    height: 10px;
    width: 10px;
    font-size: 32px;
  }

  .previous-indicator {
    left: 5px;
  }

  .next-indicator {
    right: 5px;
  }

  .banner-indicators {
    top: 75px;
  }
}

@media screen and (min-width: 768px) {
  .banner-indicators {
    top: 330px;
  }

  .previous-indicator,
  .next-indicator {
    width: 15px;
    height: 15px;
    font-size: 48px;
    top: 167px;
  }

  .previous-indicator {
    left: 15px;
  }

  .next-indicator {
    right: 15px;
  }
}

@media screen and (min-width: 900px) {
  .se-banner {
    height: 350px;
  }
}

@media screen and (min-width: 1281px) {
  .banner-indicators {
    top: 325px;
  }

  .previous-indicator,
  .next-indicator {
    width: 20px;
    height: 20px;
    font-size: 62px;
    top: 165px;
  }

  .previous-indicator {
    left: 30px;
  }

  .next-indicator {
    right: 30px;
  }
}