@import "../../theme/theme";

nav {
  @include color('primary');
}

ol {
  display: flex;
  justify-content: center;
  padding: $spacing-large;
  margin-bottom: 0;
  height: 24px;
}

.stepper-item-wrapper {
  display: inline-flex;
  align-items: center;
}

.indicator {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: $se-white;
  background-color: $se-light-grey;
  &.se-icon {
    font-family: 'se-icon';
    font-size: 24px;
    font-weight: 400;
    &:after {
      content: 'notification_ok';
      font-size: 32px;
      position: relative;
      right: 28px;
    }
  }
}

// Align checkmark on MS Edge browser.
// Will remove when Chromium-based Edge browser is released.
@supports (-ms-ime-align:auto) {
  .indicator.se-icon:after {
    top: 1px;
  }
}

// Align checkmark on IE11.
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .indicator.se-icon:after {
    top: 1px;
  }
}

.stepper-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    pointer-events: none;
  }
}

.stepper-item-label {
  display: inline;
  color: $se-light-grey;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin: 0 $spacing;
  &:hover {
    font-weight: 400;
  }
}

se-divider {
  width: 25px;
  margin-right: $spacing;
}

.primary {
  .selected {
    .indicator {
      background-color: $se-life-green;
     }
     .stepper-item-label {
       color: $se-anthracite-grey;
     }
  }
}

.alternative {
  .selected {
    .indicator {
      background-color: $se-white;
      color: $se-life-green;
    }
    .stepper-item-label {
      color: $se-white;
    }
  }
}
