@import "../../theme/theme";

:host {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  @include flex-direction(column);
  @include display-flex();

  .widget-body {
    overflow: auto;
    margin: 5px;
    @include flex(1);
    @include display-flex();
    @include flex-direction(column);
  }
}

:host(.alternative){
  .widget-body {
    @include background-color('alternative')
  }
}
:host(.standard){
  .widget-body {
    @include background-color('standard')
  }
}
:host(.fill){
  .widget-body {
    margin: 0;
  }
}

:host(.flex){
  @include flex();
}

