@import "../../theme/theme-variables";

:host {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  @include flex-direction(column);

  @include display-flex();
  @include flex(1);

  &[no-margin]{
    .widget-body{
      margin: 0;
    }
  }
}

.widget-body {
  overflow: hidden;

  background: white;
  margin: 5px;
  @include flex(1);
  @include display-flex();
  @include flex-direction(column);

}
