@import "../../theme/theme";

:host {
  min-width: 0;
  display: inline-flex;
}

:host(.display-block) {
  display: flex;
  button {
    width: 100%;
    margin-top: $spacing;
    margin-left: 0;
    margin-right: 0;
  }
}

:host(.banner-child) {
  button {
    height: 40px;
    margin-right: $spacing-large;
  }
}

@media screen and (max-width: 767px) {
  :host(.banner-child) {
    display: flex;
    button {
      width: 100%;
    }
  }
}

:host(.grouped) {
  button {
    margin: $spacing-small 0;
    height: 32px;
    padding: 0;
    @include typology("nano");
    border-radius: 0;
    border-left: 1px solid $se-anthracite-grey;
    &.nano {
      height: 24px;
      .text {
        font-size: 12px;
      }
    }
    &.hasIcon {
      .se-icon {
        font-size: 32px;
      }
      &.nano {
        .se-icon {
          font-size: 24px;
        }
      }
    }
  }
}

:host(.grouped:first-child) {
  button {
    margin-left: $spacing-small;
    border-left: none;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

:host(.grouped:last-child) {
  button {
    margin-right: $spacing-small;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

:host(.backtotop){
  button.fab {
    @include color("alternative");
    background-color:$se-anthracite-grey;
    &:hover {
      @include background-color("standard-contrast")
    }
  }
}

:host([slot="trigger"]) {
  button {
    padding-right: 22px;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
    }
  }
}

button {
  padding: 0 $spacing;
  height: 32px;
  margin: $spacing-small;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  font: inherit;
  @include display-flex();
  @include align-items(center);
  @include ellipsis();
  @include justify-content(center);

  .text {
    font-weight: 300;
    @include typology("base");
    padding: 0 $spacing;
  }

  .se-icon {
    margin: 0;
    display: inline-block;
    font-family: "se-icon";
    font-size: 24px;
    font-display: block;
    line-height: 1;
    &.standard {
      @include color("standard");
    }
    &.alternative {
      @include color("alternative");
    }
    &.primary {
      @include color("primary");
    }
    &.secondary {
      @include color("secondary");
    }
  }

  &[disabled] {
    cursor: default;
  }

  &.raised {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  }

  &.inherit {
    background-color: transparent !important;
    color: inherit !important;
  }

  &.medium {
    height: 40px;
    .text {
      font-size: $base-fontsize;
    }
  }

  &.large {
    height: 48px;
    .text {
      font-size: $large-fontsize;
    }
  }

  &.standard {
    @include color("standard-contrast");
    @include background-color("standard");
    &:hover, &:focus {
      @include color("hover-standard-contrast");
      @include background-color("hover-standard");
    }
    &:active {
      @include color("selected-contrast");
      @include background-color("selected");
    }
    &[disabled] {
      color: $se-light-grey;
      background-color: $se-ultra-light-grey-2;
    }
    &.outline {
      border: 1px solid;
      border-color: $se-anthracite-grey;
      background-color: transparent;
      &:hover, &:focus {
        @include background-color("hover-standard", 0.2);
      }
      &:active {
        @include color("selected-contrast");
        @include background-color("selected");
        @include border-color("selected");
      }
      &[disabled] {
        color: $se-light-grey;
        background-color: transparent;
        border-color: $se-light-grey;
      }
    }
  }

  &.alternative {
    @include color("alternative-contrast");
    @include background-color("alternative");
    &:hover, &:focus {
      @include color("hover-alternative-contrast");
      @include background-color("hover-alternative");
    }
    &:active {
      @include color("selected-contrast");
      @include background-color("selected");
    }
    &[disabled] {
      color: $se-light-grey;
      @include background-color('alternative');
    }
    &.outline {
      border: 1px solid;
      background-color: transparent;
      @include color("alternative");
      @include border-color("alternative");
      &:hover, &:focus {
        @include background-color("hover-alternative", 0.6);
      }
      &:active {
        @include color("selected-contrast");
        @include background-color("selected");
        @include border-color("selected");
      }
      &[disabled] {
        color: $se-light-grey;
        background-color: transparent;
        border-color: $se-light-grey;
      }
    }
  }

  &.primary {
    @include color("primary-contrast");
    @include background-color("primary");
    &:hover, &:focus {
      @include color("hover-primary-contrast");
      @include background-color("hover-primary");
    }
    &:active {
      @include color("selected-contrast");
      @include background-color("selected");
    }
    &[disabled] {
      background-color: #8ce599;
    }
    &.outline {
      border: 1px solid;
      background-color: transparent;
      @include color("primary");
      @include border-color("primary");
      &:hover, &:focus {
        @include background-color("primary", 0.3);
      }
      &:active, &.selected {
        @include color("selected-contrast");
        @include background-color("selected");
        @include border-color("selected");
      }
      &[disabled] {
        background-color: transparent;
        color: #8ce599;
        border-color: #8ce599;
      }
    }
  }

  &.secondary {
    @include color("secondary-contrast");
    @include background-color("secondary");
    &:hover, &:focus {
      @include color("hover-secondary-contrast");
      @include background-color("hover-secondary");
    }
    &:active {
      @include color("selected-contrast");
      @include background-color("selected");
    }
    &[disabled] {
      background-color: $se-sky-blue;
    }
    &.outline {
      background-color: transparent;
      border: 1px solid;
      @include color("secondary");
      @include border-color("secondary");
      &:hover, &:focus {
        @include background-color("secondary", 0.3);
      }
      &:active, &.selected {
        @include color("selected-contrast");
        @include background-color("selected");
        @include border-color("selected");
      }
      &[disabled] {
        background-color: transparent;
        color: $se-sky-blue;
        border-color: $se-sky-blue;
      }
    }
  }

  &.selected,
  &.selected:focus,
  &.outline.selected,
  &.outline.selected:focus {
    @include color("selected-contrast");
    @include background-color("selected");
  }

  &.login,
  &.signup {
    height: 32px;
    font-size: 18px;
    line-height: 22px;
  }

  &.hasIcon {
    top: 4px;
    position: relative;
    padding: 0 $spacing-small;
    &.hasChild {
      .se-icon {
        padding-left: 10px;
      }
      .text {
        padding-left: $spacing-small;
        padding-right: 12px;
      }
    }
  }

  &.fab {
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    width: 56px;
    height: 56px;
    @include circleShadow(4px);
    &:hover, &:focus {
      @include circleShadow(8px);
    }
    &.alternative{
      @include background-color("alternative");
      @include color('primary');
    }
  }

  &.minifab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 20px 20px 0px;
    padding: 0;
    margin: 0 0 15px 0;
    @include circleShadow(4px);
    @include background-color("alternative");
    @include color("alternative-contrast");
    &:hover, &:focus {
      @include circleShadow(4px);
      @include background-color("hover-standard");
    }
    &:active {
      @include background-color("selected");
    }
    &[data-tooltip] {
      overflow: visible;
      &:before {
        font-family: arial;
        font-weight: 300;
        border-radius: 23.27px;
        content: attr(data-tooltip);
        font-size: 12px;
        padding: 5px 7px;
        margin-right: 12px;
        position: absolute;
        right: 100%;
        white-space: nowrap;
        @include color("standard-contrast");
        @include background-color("standard");
      }
    }
  }
}