@import "../../theme/theme-variables";

button {
  @include color-property($se-anthracite-grey, '');
  height: 24px;
  width: 48px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 11px;
  font-family: Nunito, Roboto, monospace;
  line-height: 13px;
  font-weight: 300;
  cursor: pointer;
  &.active.selected {
    @include color-property($se-white, '');
    @include background-color-property($primary, 'primary');
  }
  &.inactive.selected {
    @include color-property($se-white, '');
    @include background-color-property($error, 'error');
  }
}

.se-switch-on-off {
  button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &.disabled {
    opacity: 0.26;
    button {
      cursor: default;
    }
  }
  &[data-mode="header"] button {
    height: 16px;
  }
}
