@import "../../theme/theme-variables";

button {
  @include color-property($se-white, '');
  height: 24px;
  width: 48px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 11px;
  font-family: Nunito, Roboto, monospace;
  line-height: 13px;
  font-weight: 300;
  cursor: pointer;
  &.active.selected {
    background-color: $primary;
  }
  &.inactive.selected {
    background-color: $error;
  }
}

.switch-on-off {
  button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
