@import "../../theme/theme";
@import "../list-item/list-item";

:host {
  @include flex-direction(column);
  .group-item{
    overflow: hidden;
    padding-bottom: 0;
  }
}

:host(.classic), :host(.nav) {
  button {
    min-height: 47px;
    max-width: 100%;
  }
}

:host(.collapsed) {
  .group-item {
    display: none;
  }
}

:host(.treeview) {
  button {
    flex-direction: row-reverse;
  }
}

:host(.headline) {
  .nav-content {
    font-size: 16px;
  }
  button{
    height: 47px;
    background-color: $se-ultra-light-grey-2;
  }
}

