<se-app>
    <span class="se-app-body">
        <se-header app-title="Javascript Advisor"></se-header>
        <se-navbar color="primary">
            <nav slot="start">Tenant: <a href=""> test </a></nav>
            <nav>
                <a onclick="myApp.load_home()">Home</a>
                <a onclick="myApp.load_dashboard()">Dashboard</a>
                <a onclick="myApp.load_icons()">Icons</a>
            </nav>
            <nav slot="end">
                <a href="">End</a>
            </nav>
        </se-navbar>

        <div id="content"></div>
    </span>
</se-app>