<se-container option="widget" position="absolute">
  <se-widget>
    <se-widget-header>Icons</se-widget-header>

    <se-widget-content>
      <div class="mycoolstyle">my content</div>
      <ul>
        ...
      </ul>
      <se-radio-on-off ref=""></se-radio-on-off>
    </se-widget-content>
    <se-widget-footer>
    <se-button option="raised">Raised</se-button>
      <se-button option="raised" color="primary">
        RaisedGreen
      </se-button>
      <se-button option="text">Text</se-button>
      <se-button option="text" color="primary">
        Primary
      </se-button>
    </se-widget-footer>
  </se-widget>
</se-container>
