@import "../../theme/theme";

:host {
	a {
    font-size: 14px;
    margin: $spacing;
    line-height: 17px;
    display: inline-block;
		@include color('secondary');
		text-decoration: none;
		&.external {
			text-decoration: underline;
			&:before {
				content: '>';
			}
		}
		&[data-disabled] {
			pointer-events: none;
			color: $se-ultra-light-grey-1;
		}
	}
}
