@import "../../theme/theme";

a {
  font-size: 14px;
  margin: $spacing-small;
  line-height: 17px;
  display: inline-block;
  @include  color('secondary');
  text-decoration: none;
  &.external {
    &:before {
      content: '> ';
    }
  }
  &:hover {
    text-decoration: underline;
    @include  color('hover-secondary');
  }
  &[data-disabled] {
    pointer-events: none;
    color: $se-light-grey;
  }
}

:host(.sidemenu-link) {
  a {
    font-size: 16px;
  }
}