@import "../../theme/theme";

:host {
  @include absolute();
}



.banner-section-wrapper{
  @include absolute();
  @include display-flex();
  @include flex-direction(row);
  @include justify-content(flex-start);
  z-index: 2;
  padding: 100px;
}

.image-container {
  @include absolute(0,0,0,0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0.5;
}

.image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center, center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}
