@import "../../theme/theme";

:host {
  @include align-items(center);
	.radio-container {
		position: relative;
		padding-left: 20px;
    @include typology('p-small');
    margin: $spacing;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.required {
			color: $se-red;
			padding-left: 3px;
		}

		input {
			height: 0;
			width: 0;
			opacity: 0;
			&:checked ~ .checkdot {
				&[data-color="primary"] {
          border: 1px solid;
          @include border-color('primary');
				}
				&[data-color="secondary"] {
          border: 1px solid;
          @include border-color('secondary');
				}
				&:after {
					display: block;
				}
			}
			
			&[disabled] {
				&:checked ~ .checkdot {
					&[data-color="primary"] {
						border: 1px solid #8ce599;
					}
					&[data-color="secondary"] {
						border: 1px solid $se-sky-blue;
					}
				}
			}
		}

		.checkdot {
			position: absolute;
			top: 0;
			left: 0;
			height: 12px;
			width: 12px;
      background-color: $se-white;
      border: 1px solid $se-light-grey;
			border-radius: 50%;
			&:after {
				content: "";
				position: absolute;
				display: none;
        top: 3px;
        left: 3px;
				width: 6px;
        height: 6px;
        @include background-color('primary');
        border-radius: 50%;
      }
      &[data-color="primary"] {
        &:after {
          @include background-color('primary');
        }
      }
      &[data-color="secondary"] {
        &:after {
          @include background-color('secondary');
        }
      }
		}

		&[data-disabled] {
			.checkdot {
				border: 1px solid $se-ultra-light-grey-2;
				&[data-color="primary"] {
					&:after {
						background-color: #8ce599;
					}
				}
				&[data-color="secondary"] {
					&:after {
						background-color: $se-sky-blue;
					}
				}
			}
		}
	}
}