<se-header app-title="React Advisor"></se-header>

<!-- <se-header [title]="appInfo.title"> -->

  <!-- <se-sidenav headerNav="Menu" [appInfo]="appInfo">

    <se-sidenav-item title="About">
      <se-about [appInfo]="appInfo"></se-about>
    </se-sidenav-item>

    <se-sidenav-item divider="true" title="section 3">
      <help-menu></help-menu>
    </se-sidenav-item>

    <se-sidenav-item  title="section 3-a">
      <se-widget no-margin>
        <header>
          List
        </header>
        <se-table
          [rows]="rows"
          [columns]="columns">
        </se-table>
        <footer fxLayoutAlign="flex-end">
          <button mat-flat-button color="primary">Apply</button>
        </footer>
      </se-widget>
    </se-sidenav-item>

    <se-sidenav-item  title="section 3-b">
      <h3>Cool section 3-b</h3>
      <mat-divider></mat-divider>
    </se-sidenav-item>
  </se-sidenav> -->

  <!-- <div header-user>
    <button mat-button [matMenuTriggerFor]="appMenu">
      {{user.username || user.email || 'test user'}}
    </button>
    <mat-menu #appMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <div header-right>
    <a class="link" (click)="settings()">settings</a>
  </div> -->
<!-- </se-header> -->
