<se-header [appTitle]="appInfo.title">
  <se-sidemenu>
    <se-sidemenu-item item="About">
      <se-about [appTitle]="appInfo.title" [version]="appInfo.version" [imageUrl]="appInfo.image"></se-about>
    </se-sidemenu-item>
    <se-sidemenu-item item="Sidenav 2">
      <se-widget option="fill">
        <se-widget-header>some widget design</se-widget-header>
        <se-widget-content>
          <se-chip id="se-chip" value="Chip 01"></se-chip>
        </se-widget-content>
        <se-widget-footer>
          <div slot="end">
            <se-button option="raised" color="primary">RaisedGreen</se-button>
          </div>
        </se-widget-footer>
      </se-widget>
    </se-sidemenu-item>
    <se-sidemenu-item [item]="'Sidenav 3'">
      <div>A simple div</div>
    </se-sidemenu-item>
  </se-sidemenu>
</se-header>
