@import "../../theme/theme-variables";

:host  {
  display: flex;
  box-sizing: border-box;
  height: auto;
  padding: 0;
  width: 100%;

  // Flexbox Vertical Alignment
  flex-direction: row;
  align-items: center;

  // Per Material specs a toolbar cannot have multiple lines inside of a single row.
  // Disable text wrapping inside of the toolbar. Developers are still able to overwrite it.
  white-space: nowrap;
}

.d-flex-main{
  @include display-flex();
  @include flex-direction(row);
  width: 100%;
}

.fill-space {
  @include flex(1);
  min-height: 12px;
}

.nav-left-wrapper {
  padding-left: 20px;
  background-color: rgba(black, 0.25);
}

nav.primary {
  background-color: $primary;
  background-color: var(--primary, $primary);
  box-shadow: $inner-shadow-top;
  color: $se-white;
  nav > a {
    color: $se-white;
    &:hover {
      color: $se-white;
      text-decoration: none;
      background-color: transparent;

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        cursor: default;
        background-color: $se-white;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
    &.active:before {
      content: "";
      position: absolute;
      height: 3px;
      cursor: default;
      background-color: $se-white;
      width: 100%;
      bottom: 0;
    }

    &.dropdown {
      &:after {
        border-top: 5px solid $se-white;
      }
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: $se-ultra-light-grey-1;
      opacity: 0.5;
    }
  }
}

nav.secondary {
  background-color: white;

  nav > a {
    color: $se-anthracite-grey;
    &:hover {
      color: $primary;
      color: var(--primary, $primary);
      text-decoration: none;
      background-color: transparent;
    }
    &.dropdown {
      &:after {
        border-top: 5px solid $primary;
        border-top: 5px solid var(--primary, $primary);
      }
    }
    &.active {
      color: $primary;
      color: var(--primary, $primary);
      &:before {
        content: "";
        position: absolute;
        height: 3px;
        cursor: default;
        background-color: $primary;
        background-color: var(--primary, $primary);
        width: 100%;
        bottom: 0;
      }
    }
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: $primary;
      color: var(--primary, $primary);
      opacity: 0.5;
    }
  }
}

nav.primary,
nav.secondary {
  nav > a {
    position: relative;
    margin: 0 20px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    // padding-bottom: 0.3rem;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 4px;
    line-height: 36px;

    &:focus {
      background-color: transparent;
    }

    &.label {
      opacity: 0.8;
      padding: 0.1em 0.4em 0.2em;
      margin-bottom: 2px;
    }

    &.dropdown {
      padding-right: 33px;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }
}
