@import "../../theme/theme";

:host {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  // Per Material specs a toolbar cannot have multiple lines inside of a single row.
  // Disable text wrapping inside of the toolbar. Developers are still able to overwrite it.
  white-space: nowrap;
  @include display-flex();
  @include flex-direction('row');
  @include align-items(center);
}
.opt-centered{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $centered;
}

.d-flex-main {
  background-color: inherit;
  display: flex;
  @include flex-direction(row);
  width: 100%;
}

.fill-space {
  @include flex(1);
  min-height: 12px;
}
.centered{
  @include display-flex();
  @include align-items(center);
}
.nav-left-wrapper {
  background-color: rgba(black, 0.4);
  &>*:first-child{
    text-transform: uppercase;
    padding-left: $spacing-large;
  }
  &>*:last-child{
    padding-right: $spacing-large;
  }
}

.tab-primary {
  @include background-color('primary');
  @include  color('primary-contrast');
  box-shadow: $inner-shadow-top;
  nav {
    height: 48px;
  }
  nav:not([slot='start']){
    height: 44px;
    border-bottom: 4px solid rgba(black, 0.25);
  }
  nav > a {
    line-height: 44px;
    @include  color('primary-contrast');
    &:hover {
      &:before {
        @include background-color('primary-contrast');
        height: 1px;
      }
    }
    &.active:before {
      @include background-color('primary-contrast');
    }
    &.active:before, &:hover:before {
      bottom: -4px !important;
    }
  }

}

.tab-alternative {
  @include background-color('alternative');
  @include  color('alternative-contrast');
  border-bottom: 1px solid $divider-color;

  nav {
    height: 40px;
  }
  nav > a {
    line-height: 40px;
    @include  color('alternative-contrast');
    &:hover {
      @include  color('primary');
    }
    &.active {
      @include  color('primary');
      &:before {
        @include background-color('primary');
      }
    }
  }
}

.tab-primary,
.tab-alternative {
  font-size: 16px;
  nav {
    height: 100%;
    text-transform: uppercase;
    @include display-flex();
    @include align-items(center);
  }
  nav > a {
    font-weight: 500;
    position: relative;
    margin: 0 $spacing-large;
    cursor: pointer;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    // padding-bottom: 0.3rem;
    text-decoration: none;
    height: 100%;
    &:focus {
      background-color: transparent;
    }
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
    &.active:before, &:hover:before {
      content: "";
      position: absolute;
      cursor: default;
      width: 100%;
      bottom: 0;
    }
    &:hover:before {
      height: 2px;
    }
    &.active:before{
      height: 4px;
    }
    &.label {
      opacity: 0.8;
      padding: 0.1em 0.4em 0.2em;
      margin-bottom: 2px;
    }
    &[disabled] {
      color: #8ce599;
      cursor: default;
      &:hover:before,
      &:active:before {
        height: 0;
      }
    }
  }
}
