@import "../../theme/theme";

.se-dialog-header {
  position: relative;
  padding: $spacing-small $spacing-small $spacing-small $spacing-large; // 2px to compensate with border bottom
  font-size: 20px;
  @include align-items(center);
  @include display-flex();

  .flex{
    @include flex();
  }

  h4 {
    @include typology('h5');
    text-transform: uppercase;
    margin: 8px;
  }

  &.primary {
    min-height: 44px;
    @include background-color('primary');
    @include color('primary-contrast');
  }

  &.alternative {
    @include background-color('alternative');
    @include color('primary');
    margin-bottom: -$spacing-large;
  }
}