@import "../../theme/theme";

:host{
  position: relative;
  padding: $spacing-small $spacing-small $spacing-small $spacing-large; // 2px to compensate with border bottom
  font-size: 20px;
  // @include display-flex();
  @include align-items(center);
  @include display-flex();

  .flex{
    @include flex();
  }

  h3 {
    @include typology('h2')
  }
}

:host(.alternative){
  @include background-color('alternative');
  @include color('primary');
  margin-bottom: -$spacing-large;
}

:host(.primary){
  min-height: 44px;
  @include background-color('primary');
  @include color('primary-contrast');
}
