@import "../../theme/theme";

$chip-height: 32px;

:host {
  display: inline-flex;
  margin: $spacing;
  height: $chip-height;
  padding-left: $chip-height / 2;
  padding-right: $chip-height / 2;
  font-size: 14px;
  line-height: $chip-height / 2;
  text-align: left;
  outline: none;
  border: none;
  border-radius: 16px;
  @include color-property($se-anthracite-grey, "");
  @include background-color-property($se-super-light-grey, "");
  @include button-active-properties($background, $se-dark-grey, $se-white);
  .value {
    padding-top: 8px;
  }
  .se-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    margin-right: -10px;
    padding-top: 8px;
    font-family: "se-icon";
    &[data-hide] {
      display: none;
    }
  }
}

:host(.primary) {
  @include background-color-property($primary, "primary");
  @include color-property($se-white, "");
  @include button-active-properties($se-medium-green, $se-dark-grey, $se-white);
}

:host(.primary.active) {
  @include background-color-property($se-dark-green, "");
}

:host(.accent) {
  @include background-color-property($accent, "accent");
  @include color-property($se-white, "");
  @include button-active-properties(
    $se-dark-sky-blue,
    $se-dark-grey,
    $se-white
  );
}

:host(.accent.active) {
  @include background-color-property($se-dark-sky-blue, "");
}

:host(.warn) {
  @include background-color-property($warn, "warn");
  @include color-property($se-white, "");
  @include button-active-properties(
    $se-sunflower-yellow,
    $se-dark-grey,
    $se-white
  );
}

:host(.warn.active) {
  @include background-color-property($se-sunflower-yellow, "");
}

:host(.error) {
  @include background-color-property($error, "error");
  @include color-property($se-white, "");
  @include button-active-properties($se-fuchsia-red, $se-dark-grey, $se-white);
}

:host(.error.active) {
  button,
  button:focus {
    @include background-color-property($se-fuchsia-red, "");
  }
}
