<form [formGroup]="loginForm" (submit)="login($event)" id="loginForm" fxFlex>
  <se-form-field [label]="'Username' | translate" required="true" option="stacked">
    <input type="text" name="username" id="username" formControlName="username">
  </se-form-field>
  <se-form-field [label]="'Password' | translate" required="true" option="stacked">
    <input type="password" name="password" id="password" id="password" formControlName="password">
  </se-form-field>
  <se-button option="login" type="submit">Login</se-button>
</form>
<se-loading [loading]="loading"></se-loading>
