@import "../../theme/theme";

:host {
  position: relative;
  padding: $spacing-small;
  font-size: 20px;
  min-height: 40px;
  border-top: 2px solid $widget-footer-border-color;
  // @include display-flex();
  @include align-items(center);
  @include display-flex();

  .flex{
    @include flex();
  }
}
