@import "../../theme/theme-variables";

:host{
  padding: $spacing;
  border-bottom: 2px solid $widget-header-border-color;
  font-size: 20px;
  min-height: 32px;
  position: relative;

  @include display-flex();
  @include align-items(center)
}
