@import "../../theme/theme";

 :host {
  height: auto;
  font-size: 12px !important;
  color: inherit;
  fill: currentColor;

 	// ::ng-deep svg {
	// 	padding-left: 2px;
	// }
}
:host(.medium) {
  svg {
    width: 144px;
    height: 27px;
  }
}
