@import "../../theme/theme";

:host {
  position: fixed;
  bottom: 20px;
  display: block;
  visibility: hidden;
  align-self: center;
  z-index: 40;
  opacity: 0;
  transition: .2s;
	@include slideDown();
}

:host(.show-snackbar) {
  display: block;
  opacity: 1;
  visibility: visible;
	@include slideUp();
}


.information {
  @include background-color('focus');
}

.success {
  @include background-color('primary');
}

.warning {
  background-color: $se-honeysuckle-orange;
}

.error {
  background-color: $se-red;
}

.snackbar {
  height: 48px;
  line-height: 48px;
  @include display-flex();
  @include  color('primary-contrast');
}

.snackbar-icon {
  padding-left: 10px;
  margin-right: -6px;
}

.se-icon {
  font-size: 24px;
  line-height: 48px;
  font-family: 'se-icon';
}

.message {
  font-size: 16px;
  padding-right: 16px;
  margin-left: 16px;
}

.action {
  cursor: pointer;
  font-size: 14px;
  border: 1px solid $se-white;
  padding: 8px 16px;
  margin: 8px 12px 8px 0;
  line-height: 16px;
  transition: .2s;
  &:hover {
    background: rgba(255,255,255,.2);
  }
}

.close {
  cursor: pointer;
  padding-right: 10px;
  margin-left: -2px;
}