@se:registry=https://nexus.tools.struxurewarecloud.com/repository/app-services-npm/
//nexus.tools.struxurewarecloud.com/repository/app-services-npm/:_authToken=c5951e35-64f1-397e-8bdb-e522c93ae5c6
#https-proxy=http://gateway.schneider.zscaler.net:9480
#proxy=http://gateway.schneider.zscaler.net:9480
strict-ssl=false
shamefully-flatten=true
# if inside SE VPN, define https-proxy and proxy else, leave remove the variables
# ex:
# https-proxy=http://gateway.schneider.zscaler.net:9480
# proxy=http://gateway.schneider.zscaler.net:9480

