@import "../../theme/animation";
@import "../../theme/theme";

:host {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: transparent !important;
}

:host(.show-menu) {
  display: block;
}

.menu-background {
  position: absolute;
  background-color: rgba(white, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 5;
  &.show-menu {
    animation-name: fadeIn;
  }
  &.hide-menu {
    animation-name: fadeOut;
  }
}

.actual-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  @include background-color('alternative');
  @include color('alternative-contrast');
  z-index: 30;

  &.show-menu {
    animation-name: slideInLeft;
  }
  &.hide-menu {
    animation-name: slideOutLeft;
  }
}

.animated {
  @include animated();
}

.full-content {
  @include absolute();
}

.menu-sidenav {
  cursor: pointer;
  margin-right: -17px;
  color: $se-medium-grey;
}

.flex {
  @include flex(1);
}

.d-flex {
  width: 100%;
  @include display-flex();
  @include align-items(left);
  @include flex-direction(row);
}

.d-flex-center {
  width: 100%;
  @include display-flex();
  @include align-items(center);
  @include flex-direction(row);
}

.d-flex-column {
  @include display-flex();
  @include align-items(left);
  @include flex-direction(column);
}

.listNavItems {
  width: 250px;
  height: 100%;
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between);
}

.header-title {
  padding-left: $spacing-large;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.menu-item-container {
  left: 250px;
  width: 0;
  z-index: 30;
}

.external-link {
  height: 60px;
  @include background-color('standard');
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}

se-link {
  padding: 16px;
}