@import "../../theme/animation";
@import "../../theme/theme";

:host {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: transparent !important;
}

:host(.show-menu) {
  display: block;
  .menu-background {
    background: rgba(255,255,255,.6);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .actual-menu {
    background-color: $se-white;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px 0px;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    width: 250px;
    max-width: 80%;
    z-index: 10;
  }
}

:host(.open-item) {
  .actual-menu {
    width: 80%;
  }
}

.menu-background {
  &.show-menu {
    animation-name: fadeIn;
  }
  &.hide-menu {
    animation-name: fadeOut;
  }
}

.actual-menu {
  &.show-menu {
    animation-name: slideInLeft;
  }
  &.hide-menu {
    animation-name: slideOutLeft;
  }
}

.animated {
  @include animated();
}

.flex {
  display: flex;
  @include flex(0);
  width: 100%;
  &.d-flex-center {
    align-items: center;
  }
}
.menu-sidenav {
  margin-right: -6px;
}
.header-title {
  margin: 0;
}
.footer-icon {
  height: 74px;
  &:last-child {
    margin-bottom: 3px;
  }
}
.external-link {
  background-color: $se-ultra-light-grey-2;
  padding: 16px;
  text-align: center;
}