@import "../../theme/theme";

$divider-width: 1px;
$divider-inset-margin: 80px;

.se-divider {
  display: block;
  margin: 0;

  &.horizontal {
    width: 100%;
    border-top-width: $divider-width;
    border-top-style: solid;
  }
  &.vertical {
    height: 100%;
  }
  &.vertical,
  &.inset {
    border-right-width: $divider-width;
    border-right-style: solid;
  }
  &.standard {
    border-color: $se-super-light-grey;
  }
  &.alternative {
    @include border-color('alternative');
  }
}